@model List<Carts>


@foreach (var cart in Model)
{
    <div class="card">
        <div class="card-body">
            @cart.IdCart
        </div>
        <div class="card-body">
            @cart.Date
        </div>
        <form method="post" asp-action="ScegliCarrello">
            <input type="hidden" name="IdCart" value="@cart.IdCart" />
                <button type="submit" class="btn btn-outline-dark">
                    Scegli Carrello
                </button>
        </form>
        <form method="post" asp-action="DeteilsCart">
            <input type="hidden" name="IdCart" value="@cart.IdCart" />
            <button type="submit" class="btn btn-outline-dark">
                Dettagli Carrello
            </button>
        </form>
    </div>
}